.quill {
  font-size: inherit;
}

.ql-editor {
  padding: 0;
}

.ql-container {
  font-size: inherit;
  font-family: inherit;
}

.ql-editor pre.ql-syntax {
  background-color: rgba(123, 97, 255, 0.1) !important;
  color: white;
  padding: theme("padding.1") theme("padding.2") !important;
  border-radius: 2px !important;
  font-family: "JetBrainsMono", monospace !important;
  font-size: inherit !important;
}

.ql-editor code {
  background-color: rgba(123, 97, 255, 0.1) !important;
  color: white;
  padding: theme("padding.1") theme("padding.2") !important;
  border-radius: 2px !important;
  font-family: "JetBrainsMono", monospace !important;
  font-size: inherit !important;
}

.ql-code-block-container {
  background-color: rgba(123, 97, 255, 0.1) !important;
  color: white;
  font-size: inherit !important;
  padding: theme("padding.1") theme("padding.2") !important;
  border-radius: 2px !important;
  font-family: "JetBrainsMono", monospace !important;
}
